<!doctype html>
<html lang=en>
    <head>
        <meta content="script-src 'self' 'unsafe-inline'" http-equiv=Content-Security-Policy>
        <meta charset=utf-8>
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name=viewport>
        <title>About - $fv.name</title>
        <meta content=$fv.userName name=author>
        <link rel="stylesheet" href=$fv.mythemeCSS>
        <link rel="stylesheet" href=$fv.patternCSS>
        <link rel="stylesheet" href=$fv.menusCSS>
    </head>
    <body class="pattern-vertical-lines-lg">
        <header class=list-title>
            <h1>About - $fv.name</h1>
        </header>
        <main>
            <table>
                <tbody id="version_infos">
                    <tr>
                        <td>
                            <code class="key">Version</code>
                        </td>
                        <td>
                            <code class="value">$fv.version</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer>
            <code>
                by <a class=link href="https://ahmetcanisik.com" target=_blank>$fv.userName</a> | <a class=link href=$fv.repoUrl target=_blank>Github</a>
            </code>
        </footer>

        <script>
            window.addEventListener('DOMContentLoaded', () => {
                document.body.innerHTML += process.platform;
            })
        </script>
    </body>
</html>
