<!doctype html>
<html lang=en>
    <head>
        <meta content="script-src 'self' 'unsafe-inline'" http-equiv=Content-Security-Policy>
        <meta charset=utf-8>
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name=viewport>
        <title>Settings - $fv.name</title>
        <meta content=$fv.userName name=author>
        <link rel="stylesheet" href=$fv.mythemeCSS>
        <link rel="stylesheet" href=$fv.patternCSS>
        <link rel="stylesheet" href=$fv.menusCSS>
    </head>
    <body class="pattern-vertical-lines-lg">
        <header class=list-title><h1>$fv.name Settings</h1></header>
        <main>
            <label for="currentSiteURL">Dizipal Güncel Adres</label><input id="currentSiteURL" type="text">
            <button type="button" id="saveChanges">Değişiklikleri Kaydet</button>
        </main>

        <script src="$fv.settingsRenderer"></script>
    </body>
</html>
