# Dependency directories
Dizipal.GUI/node_modules/
Dizipal.CLI/nodejs/node_modules

# Yarn Integrity file
Dizipal.GUI/.yarn-integrity
Dizipal.CLI/nodejs/.yarn-integrity

# dotenv environment variables file
**/*/.env
**/*/.env.test

# Webpack
Dizipal.GUI/.webpack/

# cli
Dizipal.CLI/nodejs/dist
Dizipal.CLI/python/__pycache__
