* {
    top: 0;
    left: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    display: grid;
    place-items: center;
    background-color: var(--slate-950);
    color: var(--red-500);
}
a {
    text-decoration: none;
    color: var(--red-200);
    padding: 2px 5px;
}
a:hover {
    border-radius: 4px;
    background-color: var(--red-700);
}
a:active {
    border-radius: 8px;
    outline: 1px solid var(--red-300);
    outline-offset: -1px;
}
.key {
    color: var(--red-400);
}
.value {
    color: var(--red-500);
}
main,footer,header {
    min-width: 100%;
    width: 100%;
}
table {
    min-width: 100%;
    width: 100%;
    border: 1px solid var(--slate-900);
}
tbody {
    min-width: 100%;
    width: 100%;
    border: 1px solid var(--slate-900);
    color: var(--slate-300);
    font-size: large;
}
tr {
    min-width: 100%;
    width: 100%;
    border: 1px solid var(--slate-900);
}
td {
    padding: 5px;
    width: 50%;
    border: 1px solid var(--slate-900);
}
.loading {
    background-color: var(--slate-900);
    background-image: url("../images/vectors/loader-red.svg");
    background-position: center;
    background-size: cover;
    color: var(--slate-950);
}
.inp {
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: large;
    background-color: transparent;
    border: none;
    cursor: text;
    color: var(--slate-300);
    border-bottom: 4px solid var(--slate-800);
    outline: 1px solid var(--slate-600);
}
.inp:hover {
    background-color: transparent;
    color: var(--slate-400);
}
.inp:active {
    border-bottom-color: transparent;
}
fieldset {
    padding: 0 10px;
    border: none;
}
body > header {
    -webkit-app-region: drag;
    background-color: var(--slate-900);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Header genişliğini tam ekran yapmak için */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Dikeyde ortala (isteğe bağlı) */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body > header > nav {
    -webkit-app-region: no-drag;
    user-select: auto;
    -webkit-user-select: auto;
    -moz-user-select: auto;
}
button {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.closeWindow {
    background-color: transparent;
    color: var(--slate-300);
    font-weight: lighter;
    font-size: large;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.closeWindow:hover {
    background-color: var(--red-700);
    color: var(--slate-100);
}

.closeWindow:active {
    opacity: 70%;
}
.title {
    padding-left: 20px;
    font-weight: 400;
    color: var(--rose-100);
}
.btn {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--red-600);
    border: none;
    font-size: large;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    color: var(--red-50);
    border-bottom: 4px solid var(--red-800);
    outline: 1px solid var(--red-600);
}
.btn:hover {
    background-color: transparent;
    color: var(--red-600);
}
.btn:active {
    border-bottom-color: transparent;
}
.btn-green  {
    background-color: transparent;
    color: var(--green-600);
    border-bottom-color: var(--green-800);
    outline-color: var(--green-600);
}
.btn-green:hover {
    background-color: var(--green-600);
    color: var(--green-50);
}
.btn-full {
    width: 100%;
    display: block;
}