/**
 * @name                fvuarjs
 * @version             0.0.6
 * @author              ahmetcanisik
 * @long_name           Fast Visual User Alerts Resource
 * @description         Notification message library with a modern look for your project!
 * @licence             MIT
 */

/* smaller theme start */
:root {
    /* fvalert */
    --fvuar-alert-z-index: 9990;
    --fvuar-alert-width: 100%;
    --fvuar-alert-min-height: 100%;
    --fvuar-alert-font-family: -apple-system,system-ui,'Ubuntu',BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
    --fvuar-alert-transition: visibility 0.3s, opacity 0.3s, backdrop-filter 0.3s;
    --fvuar-alert-arrow-width: 0;

    /* fvtext */
    --fvuar-text-width: 100%;
    --fvuar-text-text-align: center;
    --fvuar-text-padding: 5px;
    --fvuar-text-font-weight: 500;
    --fvuar-text-font-size: small;

    /* fvcontainer */
    --fvuar-container-z-index: 9998;
    --fvuar-container-opacity: 1;
    --fvuar-container-large-width: 100%;
    --fvuar-container-outline: 0 solid #000;
    --fvuar-container-border-bottom: none;
    --fvuar-container-border-radius: 4px;
    --fvuar-container-cursor: default;
    --fvuar-container-font-weight: 500;
    --fvuar-container-padding: 0;
    --fvuar-container-arrow-color: var(--fvuar-alert-border-colors);
    --hover-fvuar-container-outline-width: 1px;
    --active-fvuar-container-border-bottom-width: none;

    /* fvcontainer max-width:1024 */
    --fvuar-container-medium-width: 100%;
    --fvuar-container-medium-padding: calc(100% / 40);

    /* fvcontainer max-width:628 */
    --fvuar-container-small-width: 100%;
    --fvuar-container-small-padding: calc(100% / 40);

    /* border color */
    --fvuar-alert-border-colors: #000;

    /* default theme */
    --fvuar-alert-default-bg: #ffffff;
    --fvuar-alert-default-fg: #020617;
    --fvuar-alert-default-b: #475569;

    /* error theme */
    --fvuar-alert-error-bg: #e66a6a;
    --fvuar-alert-error-fg: #450a0a;
    --fvuar-alert-error-b: #450a0a;

    /* orange theme */
    --fvuar-alert-orange-bg: #ff9020;
    --fvuar-alert-orange-fg: #5a1801;
    --fvuar-alert-orange-b: #5a1801;

    /* warning theme */
    --fvuar-alert-warning-bg: #f0d465;
    --fvuar-alert-warning-fg: #422006;
    --fvuar-alert-warning-b: #422006;

    /* success theme */
    --fvuar-alert-success-bg: #6ee7b7;
    --fvuar-alert-success-fg: #134d14;
    --fvuar-alert-success-b: #134d14;

    /* info theme */
    --fvuar-alert-info-bg: #0e214d;
    --fvuar-alert-info-fg: #38bdf8;
    --fvuar-alert-info-b: #2483ac;
}
@media (prefers-color-scheme: dark) {
    :root {
        /* border color */
        --fvuar-alert-border-colors: #475569;

        /* default theme */
        --fvuar-alert-default-bg: #020617;
        --fvuar-alert-default-fg: #f8fafc;
        --fvuar-alert-default-b: #475569;
    }
}

/* default theme class */
.fvuar-alert-default {
    background: var(--fvuar-alert-default-bg) ;
    color: var(--fvuar-alert-default-fg);
    border-bottom-color: var(--fvuar-alert-default-b);
    outline-color: var(--fvuar-alert-default-b);
}

/* success theme class */
.fvuar-alert-success {
    background: var(--fvuar-alert-success-bg) ;
    color: var(--fvuar-alert-success-fg);
    border-bottom-color: var(--fvuar-alert-success-b);
    outline-color: var(--fvuar-alert-success-b);
}

/* warning theme class */
.fvuar-alert-warning {
    background: var(--fvuar-alert-warning-bg) ;
    color: var(--fvuar-alert-warning-fg);
    border-bottom-color: var(--fvuar-alert-warning-b);
    outline-color: var(--fvuar-alert-warning-b);
}

/* error theme class */
.fvuar-alert-error {
    background: var(--fvuar-alert-error-bg);
    color: var(--fvuar-alert-error-fg);
    border-bottom-color: var(--fvuar-alert-error-b);
    outline-color: var(--fvuar-alert-error-b);
}

/* info theme class */
.fvuar-alert-info {
    background-color: var(--fvuar-alert-info-fg) ;
    color: var(--fvuar-alert-info-bg);
    border-bottom-color: var(--fvuar-alert-info-b);
    outline-color: var(--fvuar-alert-info-b);
}

/* orange theme class */
.fvuar-alert-orange {
    background-color: var(--fvuar-alert-orange-bg) ;
    color: var(--fvuar-alert-orange-fg);
    border-bottom-color: var(--fvuar-alert-orange-b);
    outline-color: var(--fvuar-alert-orange-b);
}
/* smaller theme end */

fv-alert {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background: transparent;
    z-index: var(--fvuar-alert-z-index) !important;
    width: var(--fvuar-alert-width);
    min-height: var(--fvuar-alert-min-height);
    font-family: var(--fvuar-alert-font-family);
    transition: var(--fvuar-alert-transition);
}

fv-text {
    width: var(--fvuar-text-width);
    text-align: var(--fvuar-text-text-align);
    padding: var(--fvuar-text-padding);
    font-weight: var(--fvuar-text-font-weight);
    font-size: var(--fvuar-text-font-size);
}

fv-container {
    display: flex;
    position: fixed;
    visibility: visible;
    justify-content: space-between;
    user-select: auto;
    pointer-events: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
    cursor: var(--fvuar-container-cursor);
    opacity: var(--fvuar-container-opacity);
    z-index: var(--fvuar-container-z-index);
    outline: var(--fvuar-container-outline);
    padding: var(--fvuar-container-padding);
    min-width: var(--fvuar-container-large-width);
    max-width: var(--fvuar-container-large-width);
    border-bottom: var(--fvuar-container-border-bottom);
    border-radius: var(--fvuar-container-border-radius);
    background: transparent;
    &:hover {
        outline-width: var(--hover-fvuar-container-outline-width);
    }
    &:active {
        border-bottom-width: var(--active-fvuar-container-border-bottom-width);
    }
}

fv-container.top-left {
    top: 10px;
    left: 10px;
    bottom: auto;
    right: auto;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        border-width: var(--fvuar-alert-arrow-width) var(--fvuar-alert-arrow-width) var(--fvuar-alert-arrow-width) 0;
        border-style: solid;
        border-color: transparent var(--fvuar-container-arrow-color) transparent transparent;
        display: block;
        width: 0;
    }
}

fv-container.top-center {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: auto;
    right: auto;
    &::after {
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0 var(--fvuar-alert-arrow-width) var(--fvuar-alert-arrow-width);
        border-style: solid;
        border-color: transparent transparent var(--fvuar-container-arrow-color) transparent;
        display: block;
        width: 0;
    }
}

fv-container.top-right {
    top: 10px;
    right: 10px;
    left: auto;
    bottom: auto;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        border-width: var(--fvuar-alert-arrow-width) 0 var(--fvuar-alert-arrow-width) var(--fvuar-alert-arrow-width);
        border-style: solid;
        border-color: transparent transparent transparent var(--fvuar-container-arrow-color);
        display: block;
        width: 0;
    }
}

fv-container.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
    right: auto;
    &::after {
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0 var(--fvuar-alert-arrow-width) var(--fvuar-alert-arrow-width);
        border-style: solid;
        border-color: transparent transparent var(--fvuar-container-arrow-color) transparent;
        display: block;
        width: 0;
    }
}

fv-container.center-left {
    top: 50% ;
    left: 10px ;
    transform: translateY(-50%) ;
    bottom: auto ;
    right: auto ;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        border-width: var(--fvuar-alert-arrow-width) var(--fvuar-alert-arrow-width) var(--fvuar-alert-arrow-width) 0;
        border-style: solid;
        border-color: transparent var(--fvuar-container-arrow-color) transparent transparent;
        display: block;
        width: 0;
    }
}

fv-container.center-right {
    top: 50% ;
    right: 10px ;
    transform: translateY(-50%) ;
    bottom: auto ;
    left: auto ;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        border-width: var(--fvuar-alert-arrow-width) 0 var(--fvuar-alert-arrow-width) var(--fvuar-alert-arrow-width);
        border-style: solid;
        border-color: transparent transparent transparent var(--fvuar-container-arrow-color);
        display: block;
        width: 0;
    }
}

fv-container.bottom-left {
    bottom: 10px;
    left: 10px;
    top: auto;
    right: auto;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        border-width: var(--fvuar-alert-arrow-width) var(--fvuar-alert-arrow-width) var(--fvuar-alert-arrow-width) 0;
        border-style: solid;
        border-color: transparent var(--fvuar-container-arrow-color) transparent transparent;
        display: block;
        width: 0;
    }
}

fv-container.bottom-center {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    right: auto;
    &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        border-width: var(--fvuar-alert-arrow-width) var(--fvuar-alert-arrow-width) 0;
        border-style: solid;
        border-color: var(--fvuar-container-arrow-color) transparent transparent transparent;
        display: block;
        width: 0;
    }
}

fv-container.bottom-right {
    bottom: 10px;
    right: 10px;
    top: auto;
    left: auto;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        border-width: var(--fvuar-alert-arrow-width) 0 var(--fvuar-alert-arrow-width) var(--fvuar-alert-arrow-width);
        border-style: solid;
        border-color: transparent transparent transparent var(--fvuar-container-arrow-color);
        display: block;
        width: 0;
    }
}

@media (max-width: 1024) {
    fv-container {
        display: flex ;
        flex-direction: row-reverse ;
        min-width: var(--fvuar-container-medium-width);
        max-width: var(--fvuar-container-medium-width);
        padding: var(--fvuar-container-medium-padding);
    }
}

@media (max-width: 628px) {
    fv-container {
        display: flex ;
        flex-direction: row-reverse ;
        min-width: var(--fvuar-container-small-width);
        max-width: var(--fvuar-container-small-width);
        padding: var(--fvuar-container-small-padding);
    }
}
